<header class="p-5 bg-main-green text-center">
  <h2 class="text-5xl text-white">Deliverix</h2>
  <p class="text-lg text-gray-200">objednávkový systém</p>
  <a class="w-fit mt-5 px-5 py-2 mx-auto block bg-white font-semibold rounded-md" href="/logout"
    >Odhlásiť</a
  >
</header>
